@import "tailwindcss";

@theme {
  --font-dana-medium: "var(--font-dana-medium)";
  --font-dana-bold: "var(--font-dana-bold)";
  --font-poppins-medium: "var(--font-poppins-medium)";
  --font-poppins-bold: "var(--font-poppins-bold)";

  --color-primary: #013125;
  --color-secondry: #a6eb4e;

  --color-bg-primary: #222831;
  --color-bg-secondry: #393e46;
}

@custom-variant dark (&:where([data-theme-dark], [data-theme-dark] *));

.container {
  margin: auto;
}

* {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

input {
  outline: none;
}

.mix_primary_secondry {
  color: color-mix(#013125, #a6eb4e);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  word-spacing: -3px;
}

button,
a {
  cursor: pointer;
}

.ant-image-preview-img {
  border-radius: 100%;
  overflow: hidden;
}

.hacathon_card_border {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
}
html[data-theme-dark] .hacathon_card_border {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
}

.custom-container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

/* dropdwon */
.ant-dropdown-menu.ant-dropdown-menu-root {
  background-color: var(--color-bg-secondry) !important;
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
}
